body {
  font-family: arial;
  box-sizing: border-box;
}
*
{
  box-sizing: border-box;
}

.input-label {
  pointer-events: none; /* Prevent the label from being clickable */
  font-size: 1rem;
}
input{
  width: 100%;
}
/* When input is focused or has a value, move the label */
input:focus + .input-label,
input:not(:placeholder-shown) + .input-label {
  top: -0.5rem; /* Adjust based on your design */
  font-size: 0.75rem;
  color: #555; /* Optional: Change color on float */
}

.banner_movie_app {
  height: 750px;
  background-image: url("./Images/bannerbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
.banner_movie_app p {
  width: 660px;
}

.Movie_banner {
  height: 550px;
  background-image: url("./Images/breadcrumbbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #585858;
  background-blend-mode: multiply;
}
.footer_design {
  min-height: 150px;
  background-image: url("./Images/footerbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.line {
  background-color: rgb(18, 21, 30);
  box-shadow: 0px 3px 0px 0px rgba(143, 143, 143, 0.14);
  width: 100%;
  height: 1px;
}
.our_services {
  min-height: 750px;
  background-image: url("./Images/servicesbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.top_icon_box {
  position: fixed;
  right: 45px;
  bottom: 0px;
  animation: topicon 0.3s linear forwards;
}
@keyframes topicon {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 30px;
  }
}
.latest_movies {
  min-height: 700px;
  background-image: url("./Images/ucm_bg_shape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #171d22;
  background-blend-mode: overlay;
}
.Detail_Page_banner
{
  min-height: 750px;
  background-image: url('./Images/movie_details_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.movie_list
{
  background-image: url("./Images/ucm_bg_shape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #171d22;
  background-blend-mode: overlay;
}
.favourite_page_banner
{
  height: 550px;
  background-image: url('./Images/blog_thumb03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #171d22;
  background-blend-mode: overlay;
}
.favourite_movie_list
{
  background-image: url("./Images/ucm_bg_shape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #171d22;
  background-blend-mode: overlay;
}
/* @media (min-width: 1025px) { */
  .header {
    width: 100%;
    padding: 10px 16px;
    position: fixed;
  }
  .headeranimate {
    animation: headeranimation 0.6s linear forwards;
  }
  @keyframes headeranimation {
    0% {
      top: -35px;
    }
    100% {
      top: 0px;
      background-color: #171d22;
    }
  }

@media (max-width:1024px) {
  .menu_bar
  {
    transform:scaleX(0);
  }
  .menu_bar_open_animation
  {
    animation: menuopenanimation 0.3s linear forwards;
    transform-origin: 0.0;
  }
  @keyframes menuopenanimation {
    0%
    {
      transform: scaleX(0);
    }
    100%
    {
      transform: scaleX(1);
    }
  }
  .menu_bar_close_animation
  {
    animation: menucloseanimation 0.3s linear forwards;
    transform-origin: 0.0;
  }
  @keyframes menucloseanimation {
    0%
    {
      transform: scaleX(1);
    }
    100%
    {
      transform: scaleX(0);
    }
  }
}
@media (max-width:768px) {
  .banner_movie_app p {
    width: 100%;
  }
  .our_service_image
  {
    width: 100%;
  }
}
.signin_form
{
  max-width: 100%;
  width: 400px;
  /* padding */
}
.loader_animation_box1
{
  transform: scaleY(0);
  animation: loaderanimationbox1 0.7s linear forwards infinite;
  /* transform-origin: 1.0; */
}
@keyframes loaderanimationbox1 {
  0%
  {
    transform: scaleY(0);
  }
  100%
  {
    transform: scaleY(1);
  }
}
.loader_animation_box2
{
  transform: scaleY(0);
  animation: loaderanimationbox2 0.7s 0.5s linear forwards infinite;
  /* transform-origin: 0.1; */
}
@keyframes loaderanimationbox2 {
  0%
  {
    transform: scaleY(0);
  }
  100%
  {
    transform: scaleY(1);
  }
}

.loader_animation_box3
{
  transform: scaleY(0);
  animation: loaderanimationbox3 0.7s 1s linear forwards infinite;
  /* transform-origin: 0.1; */
}
@keyframes loaderanimationbox3 {
  0%
  {
    transform: scaleY(0);
  }
  100%
  {
    transform: scaleY(1);
  }
}